body {
    padding: 15px;
    font: 14px "Futura", "Lucida Grande", Helvetica, Arial, sans-serif;
    display: block;
}

footer {
    display: block;
    padding: 15px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

#title {
    text-align: center;
}

#map {
    width: 600px;
    height: 600px;
    margin-right: auto;
    margin-left: auto;
}